.course-overview {
  flex: 1 1;
  max-width: 865px;

  h2 {
    margin-bottom: 25px;
  }

  .bp5-icon {
    margin: 0 !important;
  }
}

// .tags-wrapper {
//   margin: 10px 0px;
// }
// .tags-header {
//   margin-bottom: 5px;
// }

// .tags-input {
//   background-color: rgb(64, 64, 64);
//   &::placeholder {
//     color: rgb(169, 169, 169);
//   }
// }

// .tags-container {
//   display: flex;
//   flex-wrap: wrap;
//   margin-bottom: 25px;

//   .tag {
//     margin-right: 10px;
//     margin-bottom: 10px;

//     .button {
//       margin-left: 10px;
//       margin-right: 10px;
//     }
//   }
// }
